@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
  --clr-primary-color: #eb79b5;
  --clr-primary-color-hover: #e057a0;
  --clr-primary-color-light: #fff2fa;

  --clr-primary-color---dark: #68224c;
  --clr-primary-color-light---dark: #d487b5;

  --clr-input-filed-bg: #f7f7f7;
  --clr-input-filed-stroke: #dadada;

  --clr-bg-color: #f5e3f3;
  --clr-text-color: #303030;

  --clr-white: #fff8fe;
  --clr-white-hover: #ffdffa;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  outline: transparent;
  border: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-bg-color);
  color: var(--clr-text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section + section {
  margin-top: 2rem;
}

.container {
  max-width: 66rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/*------------------ NAV ------------------*/

nav {
  font-size: 3rem;
  padding: 1em 0;
}

/*------------------ MAIN ------------------*/

.card {
  background-color: var(--clr-white);
  padding: 2.8rem;
  border-radius: 28px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.07);
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

/*------------------ FORM ------------------*/

.item-add {
  display: flex;
  flex-direction: column;
}

.input {
  background-color: var(--clr-input-filed);
  font-size: 1.8rem;
  padding: 1rem;
  border: 2px solid var(--clr-input-filed-stroke);
  border-radius: 8px;
  transition: border 300ms;
}

.input:focus {
  border: 2px solid var(--clr-primary-color---dark);
}

/* Placeholder text color  */
.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dddddd;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #dddddd;
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #dddddd;
}

.submit {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--clr-primary-color-light);
  background-color: var(--clr-primary-color);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 300ms;
}

.submit:hover,
.submit:focus {
  background-color: var(--clr-primary-color-hover);
}

/*------------------ TASK ------------------*/

ul {
  list-style: none;
}

.task {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task + .task {
  border-top: 1px solid #d4d4d4;
}

.btn {
  color: var(--clr-primary-color---dark);
  padding: 1rem;
  border-radius: 300px;
  cursor: pointer;
  transition: background-color 300ms;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-white-hover);
}

.btn + .btn {
  margin-left: 1rem;
}

.action-buttons {
  min-width: 10rem;
}

/*--------------- FOOTER ---------------*/
footer {
  color: var(--clr-primary-color---dark);
  text-align: center;
  padding: 2rem 0;
  margin-top: auto;
}

.code {
  text-decoration: none;
  color: var(--clr-primary-color---dark);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}

.code img {
  fill: var(--clr-primary-color);
  height: 3rem;
  width: 3rem;
  margin-top: 0.5rem;
}

.empty {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.8rem;
  text-align: center;
  display: none;
}
